@charset "utf-8";
/* CSS Document */
/* --------------------------------------------------------------------- Bagrunden - bilet ----------------------------------------------------------*/

/* Hjemrejse bagrunds bilet */
.Soegebar-hjemrejse{
	position: absolute;
	top: 346px;
	left: 580px;
}

/****** Hjemrejse bagrunds bilet - Udvidet ******/
.Soegebar-hjemrejse-udvidet{
	position: absolute;
	top: 332px;
	left: 580px;
}

/* Udrejse bagrunds bilet */
.Soegebar-udrejse{
	position: absolute;
	top: 20px;
	left: 580px;
}

/* Udrejse - tekst */
.udrejse-tekst{
	position: absolute;
	top: 18px;
	left: 590px;
	
	font: normal normal normal 20px/0px Segoe UI;
			color: #f0b518;	
}

/* Udrejse - tekst ******/
.hjemrejse-tekst{
	position: absolute;
	top: 370px;
	left: 590px;
	
	font: normal normal normal 20px/0px Segoe UI;
			color: #f0b518;		
}

/* --------------------------------------------------------------------- Rejse fra og til - Forside  ----------------------------------------------------------*/

/* Udrejse punkt - Link til at udvide siden, ved at skifte side */
.udvidMuligheder-venstre{
	position: absolute;
	top: 70px;
	left: 600px;			
			padding-top: 0px;
			padding-bottom: 0px;
			padding-right: 26px;
			padding-left: 10px;
}

/* Ankomst punkt - Link til at udvide siden, ved at skifte side */
.udvidMuligheder-hoejre{
	position: absolute;
	top: 70px;
	left: 995px;
			padding-top: 0px;
			padding-bottom: 0px;
			padding-right: 32px;
			padding-left: 10px;
}

/* Hjælpetekst til at forkalre fra og til i søgebaren */
.hjaelpeTekst{
	color: rgb(164, 164, 164); 
}


/* --------------------------------------------------------------------- Rejse fra og til  ----------------------------------------------------------*/


/* Udrejse punk */
.udrejsePunkt-udrejse{
	position: absolute;
	top: 70px;
	left: 600px;			
			padding-top: 13px;
			padding-bottom: 13px;
			padding-right: 10px;
			padding-left: 10px;
}

/*  Fra - tekst  */
.udrejsePunkt-tekst-udrejse{
	position: absolute;
	top: 44px;
	left: 600px;
	
	font: normal normal normal 15px/0px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}


/*  Rejse ikon  */
.rejseIkon-udrejse {
	position: absolute;
	top: 75px;
	left: 803px;
}


/* Ankomst punkt */
.ankomstPunkt-udrejse{
	position: absolute;
	top: 70px;
	left: 995px;
			padding-top: 13px;
			padding-bottom: 13px;
			padding-right: 10px;
			padding-left: 10px;
}

/* Til - tekst  */
.ankomstPunkt-tekst-udrejse{
	position: absolute;
	top: 44px;
	left: 995px;
	
	font: normal normal normal 15px/0px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}


/***************Hjemrejse*****************/

/**** Udrejse punk - Hjemrejse *****/
.udrejsePunkt-hjemrejse{
	position: absolute;
	top: 426px;
	left: 600px;			
			padding-top: 13px;
			padding-bottom: 13px;
			padding-right: 10px;
			padding-left: 10px;
}

/****  Fra - tekst Hjemrejse *****/
.udrejsePunkt-tekst-hjemrejse{
	position: absolute;
	top: 400px;
	left: 995px;
	
	font: normal normal normal 15px/0px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}


/****  Rejse ikon Hjemrejse *****/
.rejseIkon-hjemrejse {
	position: absolute;
	top: 432px;
	left: 803px;
}


/**** Ankomst punkt Hjemrejse *****/
.ankomstPunkt-hjemrejse{
	position: absolute;
	top: 426px;
	left: 995px;
			padding-top: 13px;
			padding-bottom: 13px;
			padding-right: 10px;
			padding-left: 10px;
}

/**** Til - tekst Hjemrejse *****/
.ankomstPunkt-tekst-hjemrejse{
	position: absolute;
	top: 400px;
	left: 600px;
	
	font: normal normal normal 15px/0px Segoe UI;
			color: white;	
}



/* --------------------------------------------------------------------- Pladsbilet vælger  ----------------------------------------------------------*/

/* Dropdown knapen */
.dropdownKnap-pladser-udrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 7px;
			padding-left: 7px;
			border: none;
}

/* Gør dropdown muligt, og giver det en placering */
.dropdownPostion-pladser-udrejse {
	/* Gør selve dropdown dellen mulig*/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet*/
	position: absolute;
	top: 310px;
	left: 805px;
}

/* Dropdown indholdet (Hidden by Default) */
.dropdownIndhold-pladser-udrejse {
	display: none;
	background-color: white;
	max-width: 100%;
	min-height: 186px;
	padding-left: 5px;
	padding-top: 1px;
	z-index: 1;
}


/* Links i dropdownmenuen */
.dropdownIndhold-pladser-udrejse a {
	color: black;
	text-decoration: none;
	font: normal normal normal 15px/7px Segoe UI;
	padding: 0px;
	display: block;
}

/* Hviser dropdownmenuen menu når man hover over den */
.dropdownPostion-pladser-udrejse:hover .dropdownIndhold-pladser-udrejse {display: block;}




/* Pladsbilet - tekst */
.pladsbillet-tekst-udrejse{
	position: absolute;
	top: 282px;
	left: 805px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;
}




/* Tjek box til Barnevognspladsbillet */
.utjekketBox-udrejse{
	position: absolute;
	top: 317px;
	left: 935px;
}

/* Barnevognspladsbillet - tekst */
.barnevognspladsbillet-tekst-udrejse{
	position: absolute;
	top: 282px;
	left: 885px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;	
}


/*------------Integreret med pladsbillet---------------*/

/*---- Dropdown knapen ----*/
.dropdownKnap-pladser-1-udrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 14px;
			padding-left: 14px;
			border: none;
}

/*---- Gør dropdown muligt, og giver det en placering ----*/
.dropdownPostion-pladser-1-udrejse {
	/* Gør selve dropdown dellen mulig*/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet*/
	position: absolute;
	top: 310px;
	left: 805px;
}

/*---- Dropdown indholdet (Hidden by Default) ----*/
.dropdownIndhold-pladser-1-udrejse {
	display: none;
	background-color: white;
	max-width: 100%;
	min-height: 186px;
	padding-left: 5px;
	padding-top: 1px;
	z-index: 1;
}


/*---- Links i dropdownmenuen ----*/
.dropdownIndhold-pladser-1-udrejse a {
	color: black;
	text-decoration: none;
	font: normal normal normal 15px/7px Segoe UI;
	padding: 0px;
	display: block;
}

/*---- Hviser dropdownmenuen menu når man hover over den ----*/
.dropdownPostion-pladser-1-udrejse:hover .dropdownIndhold-pladser-1-udrejse {display: block;}


/*------------Integreret med Barnevognspladsbillet ---------------*/

/* Tjek box til Barnevognspladsbillet */
.TjekketBox-udrejse{
	position: absolute;
	top: 313px;
	left: 935px;
}



/***************Hjemrejse*****************/

/**** Dropdown knapen ****/
.dropdownKnap-pladser-hjemrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 7px;
			padding-left: 7px;
			border: none;
}

/**** Gør dropdown muligt, og giver det en placering ****/
.dropdownPostion-pladser-hjemrejse {
	/**** Gør selve dropdown dellen mulig****/
  	position: relative;
	
	/**** Postionen af knapen og dermed indholdet****/
	position: absolute;
	top: 650px;
	left: 805px;
}

/**** Dropdown indholdet (Hidden by Default) ****/
.dropdownIndhold-pladser-hjemrejse {
	display: none;
	background-color: white;
	max-width: 100%;
	min-height: 186px;
	padding-left: 5px;
	padding-top: 1px;
	z-index: 1;
}


/**** Links i dropdownmenuen ****/
.dropdownIndhold-pladser-hjemrejse a {
	color: black;
	text-decoration: none;
	font: normal normal normal 15px/7px Segoe UI;
	padding: 0px;
	display: block;
}

/**** Hviser dropdownmenuen menu når man hover over den ****/
.dropdownPostion-pladser-hjemrejse:hover .dropdownIndhold-pladser-hjemrejse {display: block;}




/**** Pladsbilet - tekst ****/
.pladsbillet-tekst-hjemrejse{
	position: absolute;
	top: 625px;
	left: 805px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;
}




/**** Tjek box til Barnevognspladsbillet ****/
.utjekketBox-hjemrejse{
	position: absolute;
	top: 656px;
	left: 935px;
}

/**** Barnevognspladsbillet - tekst ****/
.barnevognspladsbillet-tekst-hjemrejse{
	position: absolute;
	top: 625px;
	left: 885px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;	
}


/****************------------Integreret med - 1 ung - Hjemrejse---------------****************/

/*------------Integreret med pladsbillet---------------*/

/*---- Dropdown knapen ----*/
.dropdownKnap-pladser-1-hjemrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 14px;
			padding-left: 14px;
			border: none;
}

/*---- Gør dropdown muligt, og giver det en placering ----*/
.dropdownPostion-pladser-1-hjemrejse {
	/* Gør selve dropdown dellen mulig*/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet*/
	position: absolute;
	top: 650px;
	left: 805px;
}

/*---- Dropdown indholdet (Hidden by Default) ----*/
.dropdownIndhold-pladser-1-hjemrejse {
	display: none;
	background-color: white;
	max-width: 100%;
	min-height: 186px;
	padding-left: 5px;
	padding-top: 1px;
	z-index: 1;
}


/*---- Links i dropdownmenuen ----*/
.dropdownIndhold-pladser-1-hjemrejse a {
	color: black;
	text-decoration: none;
	font: normal normal normal 15px/7px Segoe UI;
	padding: 0px;
	display: block;
}

/*---- Hviser dropdownmenuen menu når man hover over den ----*/
.dropdownPostion-pladser-1-hjemrejse:hover .dropdownIndhold-pladser-1-hjemrejse {display: block;}


/****************------------Integreret med - Barnevognspladsbillet - Hjemrejse---------------****************/

/* Tjek box til Barnevognspladsbillet */
.tjekketBox-hjemrejse{
	position: absolute;
	top: 652px;
	left: 935px;
}


/* --------------------------------------------------------------------- Antal rejsene vælger  ----------------------------------------------------------*/

/* Dropdown knapen */
.dropdownKnap-rejsene-udrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 60px;
			padding-left: 60px;
			border: none;
}

/* Gør dropdown muligt, og giver det en placering */
.dropdownPostion-rejsene-udrejse {
	/* Gør selve dropdown dellen mulig*/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet*/
	position: absolute;
	top: 240px;
	left: 805px;
}

/* Dropdown indholdet (Hidden by Default) */
.dropdownIndhold-rejsene-udrejse {
	display: none;
	background-color: white;
	max-width: 100%;
	min-height: 170px;
	padding-left: 7px;
	padding-top: 1px;
	z-index: 1;
	
}

/* Links i dropdownmenuen */
.dropdownIndhold-rejsene-udrejse a {
	color: black;
	text-decoration: none;
	font: normal normal normal 15px/10px Segoe UI;
	padding: 0px;
	display: block;
}

/* Hviser dropdownmenuen menu når man hover over den */
.dropdownPostion-rejsene-udrejse:hover .dropdownIndhold-rejsene-udrejse {display: block;}




/* Manuel radigereing for børn 12-15 år's minus ikon ----****/
.boernebilet{
	position: absolute;
	margin-top: 0px;
	top: 120px;
	left: 106px;
}




/* Antal rejsene - tekst */
.antalRejsene-tekst-udrejse{
	position: absolute;
	top: 210px;
	left: 805px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;
}


/*------------Integreret med - 1 ung ---------------*/

/*---- Dropdown knapen ----*/
.dropdownKnap-rejsene-ung-udrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 70px;
			padding-left: 70px;
			border: none;
}

/*---- Gør dropdown muligt, og giver det en placering ----*/
.dropdownPostion-rejsene-ung-udrejse {
	/* Gør selve dropdown dellen mulig*/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet*/
	position: absolute;
	top: 240px;
	left: 805px;
}

/*---- Dropdown indholdet (Hidden by Default) ----*/
.dropdownIndhold-rejsene-ung-udrejse {
	display: none;
	background-color: white;
	max-width: 100%;
	min-height: 170px;
	padding-left: 7px;
	padding-top: 1px;
	z-index: 1;
	
}

/*---- Links i dropdownmenuen ----*/
.dropdownIndhold-rejsene-ung-udrejse a {
	color: black;
	text-decoration: none;
	font: normal normal normal 15px/10px Segoe UI;
	padding: 0px;
	display: block;
}

/*---- Hviser dropdownmenuen menu når man hover over den ----*/
.dropdownPostion-rejsene-ung-udrejse:hover .dropdownIndhold-rejsene-ung-udrejse {display: block;}





/***************Hjemrejse*****************/

/**** Dropdown knapen ****/
.dropdownKnap-rejsene-hjemrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 60px;
			padding-left: 60px;
			border: none;
}

/**** Gør dropdown muligt, og giver det en placering ****/
.dropdownPostion-rejsene-hjemrejse {
	/* Gør selve dropdown dellen mulig****/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet****/
	position: absolute;
	top: 584px;
	left: 805px;
}

/**** Dropdown indholdet (Hidden by Default) ****/
.dropdownIndhold-rejsene-hjemrejse {
	display: none;
	background-color: white;
	max-width: 100%;
	min-height: 170px;;
	padding-left: 7px;
	padding-top: 1px;
	z-index: 1;
	
}

/**** Links i dropdownmenuen ****/
.dropdownIndhold-rejsene-hjemrejse a {
	color: black;
	text-decoration: none;
	font: normal normal normal 15px/10px Segoe UI;
	padding: 0px;
	display: block;
}

/**** Hviser dropdownmenuen menu når man hover over den ****/
.dropdownPostion-rejsene-hjemrejse:hover .dropdownIndhold-rejsene-hjemrejse {display: block;}



/**** Antal rejsene - tekst - Hjemrejse ****/
.antalRejsene-tekst-hjemrejse{
	position: absolute;
	top: 557px;
	left: 805px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;
}


/****************------------Integreret med - 1 ung - Hjemrejse---------------****************/


/*****---- Dropdown knapen ----*****/
.dropdownKnap-rejsene-ung-hjemrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 70px;
			padding-left: 70px;
			border: none;
}

/*****---- Gør dropdown muligt, og giver det en placering ----*****/
.dropdownPostion-rejsene-ung-hjemrejse {
	/*****---- Gør selve dropdown dellen mulig----*****/
  	position: relative;
	
	/*****---- Postionen af knapen og dermed indholdet----*****/
	position: absolute;
	top: 584px;
	left: 805px;
}

/*****---- Dropdown indholdet (Hidden by Default) ----*****/
.dropdownIndhold-rejsene-ung-hjemrejse {
	display: none;
	background-color: white;
	max-width: 100%;
	min-height: 170px;
	padding-left: 7px;
	padding-top: 1px;
	z-index: 1;
	
}

/*****---- Links i dropdownmenuen ----*****/
.dropdownIndhold-rejsene-ung-hjemrejse a {
	color: black;
	text-decoration: none;
	font: normal normal normal 15px/10px Segoe UI;
	padding: 0px;
	display: block;
}

/*****---- Hviser dropdownmenuen menu når man hover over den ----*****/
.dropdownPostion-rejsene-ung-hjemrejse:hover .dropdownIndhold-rejsene-ung-hjemrejse {display: block;}


/* --------------------------------------------------------------------- Instilinger   ----------------------------------------------------------*/

/* Standardindstillinger  - ikon */
.standard-udrejse{
	position: absolute;
	top: 130px;
	left: 1250px;
}


/* Sort/markeret tjekcirkel for standardindstilinger */
.sortTjekcirkel-standard-udrejse{
	position: absolute;
	top: 145px;
	left: 1211px;
}

/* Standard indstilinger - tekst */
.Standard-tekst-udrejse{
	position: absolute;
	top: 109px;
	left: 1214px;
	font: normal normal normal 11px/0px Segoe UI;
			color: white;
}

/* Justeret indstillinger  - ikon */
.justeret-udrejse{
	position: absolute;
	top: 220px;
	left: 1250px;
}



/* Hvid/umarkeret tjekcirkel for justeret indstilinger */
.hvidTjekcirkel-justeret-udrejse{
	position: absolute;
	top: 235px;
	left: 1212px;
}

/* Justeret indstilinger - tekst */
.justeret-tekst-udrejse{
	position: absolute;
	top: 200px;
	left: 1220px;
	font: normal normal normal 11px/0px Segoe UI;
			color: white;	
}


/*------------Integreret med - Søgbaren---------------*/

/* Hvid/umarkeret tjekcirkel for standardindstilinger */
.hvidTjekcirkel-standard-integreret-udrejse{
	position: absolute;
	top: 145px;
	left: 1212px;
}

/* Sort/markeret tjekcirkel for justeret indstilinger */
.sortTjekcirkel-justeret-integreret-udrejse{
position: absolute;
	top: 235px;
	left: 1211px;
}


/*------------Integreret med - Indstiligerne---------------*/

/*---- Søgebaren når man prøver at juster indstilingerne ----*/
.justerIndstilinger-indstilingerne-soegebaren-udrejse{
	position: absolute;
	top: 180px;
}

/*---- Selve indstilingerne når man prøver at justere dem ----*****/
.justerIndstilinger-indstilingerne{
	position: absolute;
	left: 750px;
}



/***************Hjemrejse*****************/

/**** Standardindstillinger  - ikon - Hjemrejse ****/
.standard-hjemrejse{
	position: absolute;
	top: 481px;
	left: 1250px;
}


/**** Sort/markeret tjekcirkel for standardindstilinger - Hjemrejse ****/
.sortTjekcirkel-standard-hjemrejse{
	position: absolute;
	top: 496px;
	left: 1210px;
}



/**** Standard indstilinger - tekst - Hjemrejse ****/
.Standard-tekst-hjemrejse{
	position: absolute;
	top: 460px;
	left: 1214px;
	font: normal normal normal 11px/0px Segoe UI;
			color: white;
}

/**** Justeret indstillinger  - ikon - Hjemrejse ****/
.justeret-hjemrejse{
	position: absolute;
	top: 570px;
	left: 1250px;
}

/**** Hvid/umarkeret tjekcirkel for justeret indstilinger - Hjemrejse ****/
.hvidTjekcirkel-justeret-hjemrejse{
	position: absolute;
	top: 586px;
	left: 1212px;
}

/**** Justeret indstilinger - tekst - Hjemrejse ****/
.justeret-tekst-hjemrejse{
	position: absolute;
	top: 550px;
	left: 1220px;
	font: normal normal normal 11px/0px Segoe UI;
			color: white;	
}




/****************------------Integreret med - Søgebaren - Hjemrejse---------------****************/

/****---- Hvid/umarkeret tjekcirkel for standardindstilinger ----****/
.hvidTjekcirkel-standard-integreret-hjemrejse{
	position: absolute;
	top: 496px;
	left: 1212px;
}

/****---- Sort/markeret tjekcirkel for justeret indstilinger ----****/
.sortTjekcirkel-justeret-integreret-hjemrejse{
position: absolute;
	top: 586px;
	left: 1211px;
}


/****************------------Integreret med - Indstilingerne - Hjemrejse---------------****************/

/****---- Søgebaren når man prøver at juster indstilingerne ----****/
.justerIndstilinger-indstilingerne-soegebaren-hjemrejse{
	position: absolute;
	top: 10px;
}





/* --------------------------------------------------------------------- Søg knap   ----------------------------------------------------------*/

/* Søgknap - Udrejse */
.soeg-udrejse{
	position: absolute;
	top: 320px;
	left: 1055px;
}

/* Søgknap - Fælles ****/
.soeg-faelles{
	position: absolute;
	top: 347px;
	left: 1055px;
}

/* --------------------------------------------------------------------- Tjek cirkler til Afgagstid og ankomsttid  ----------------------------------------------------------*/

/* Blå/markeret tjekcirkel */
.blaaTjekcirkel-udrejse{
	position: absolute;
	top: 130px;
	left: 585px;
}

/* Afgangstid - tekst */
.afgangstid-tekst-udrejse{
	position: absolute;
	top: 130px;
	left: 618px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;
}


/* Hvid/umarkeret tjekcirkel */
.hvidTjekcirkel-udrejse{
	position: absolute;
	top: 130px;
	left: 695px;
}

/* Ankomsttid - tekst */
.ankomsttid-tekst-udrejse{
	position: absolute;
	top: 130px;
	left: 729px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;	
}

/*------------integreret med---------------*/

/*---- Rød/markeret tjekcirkel ----*/
.roedTjekcirkel-udrejse{
	position: absolute;
	top: 130px;
	left: 1090px;
}

/*---- Afgangstid - tekst ----*/
.afgangstid-tekst-integreret-udrejse{
	position: absolute;
	top: 130px;
	left: 1010px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;
}


/*---- Hvid/umarkeret integreret med tjekcirkel ----*/
.hvidTjekcirkel-integreret-udrejse{
	position: absolute;
	top: 130px;
	left: 977px;
}

/*---- Ankomsttid - tekst ----*/
.ankomsttid-tekst-integreret-udrejse{
	position: absolute;
	top: 130px;
	left: 1123px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;	
}



/***************Hjemrejse*****************/

/**** Blå/markeret tjekcirkel - Hjemrejse ****/
.blaaTjekcirkel-hjemrejse{
	position: absolute;
	top: 484px;
	left: 1090px;
}

/**** Afgangstid - tekst - Hjemrejse ****/
.afgangstid-tekst-hjemrejse{
	position: absolute;
	top: 484px;
	left: 1123px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}


/**** Hvid/umarkeret tjekcirkel - Hjemrejse ****/
.hvidTjekcirkel-hjemrejse{
	position: absolute;
	top: 484px;
	left: 977px;
}

/**** Ankomsttid - tekst - Hjemrejse ****/
.ankomsttid-tekst-hjemrejse{
	position: absolute;
	top: 484px;
	left: 1010px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;	
}


/****************------------Integreret med pladsbillet - Hjemrejse---------------****************/

/****---- Rød/markeret tjekcirkel - Hjemrejse ----****/
.roedTjekcirkel-hjemrejse{
	position: absolute;
	top: 484px;
	left: 585px;
}

/****---- Afgangstid - tekst - Hjemrejse ----****/
.afgangstid-tekst-integreret-hjemrejse{
	position: absolute;
	top: 484px;
	left: 729px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}


/****---- Hvid/umarkeret tjekcirkel - Hjemrejse ----****/
.hvidTjekcirkel-integreret-hjemrejse{
	position: absolute;
	top: 484px;
	left: 697px;
}

/****---- Ankomsttid - tekst - Hjemrejse ----****/
.ankomsttid-tekst-integreret-hjemrejse{
	position: absolute;
	top: 484px;
	left: 618px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;	
}

/* --------------------------------------------------------------------- Dag vælger - afgang  ----------------------------------------------------------*/

/* Dropdown knapen */
.dropdownKnap-dag-afgang-udrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 10px;
			padding-left: 10px;
			border: none;
}

/* Gør dropdown muligt, og giver det en placering */
.dropdownPostion-dag-afgang-udrejse {
	/* Gør selve dropdown dellen mulig*/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet*/
	position: absolute;
	top: 165px;
	left: 610px;
}

/* Dropdown indholdet (Hidden by Default) */
.dropdownIndhold-dag-afgang-udrejse {
	display: none;
	background-color: white;
	min-width: 200px;
	max-height: 18px;
	z-index: 1;
}

/* Links i dropdownmenuen */
.dropdownIndhold-dag-afgang-udrejse a {
	padding: 0px;
	display: block;
}

/* Hviser dropdownmenuen menu når man hover over den */
.dropdownPostion-dag-afgang-udrejse:hover .dropdownIndhold-dag-afgang-udrejse {display: block;}  


/*------------Integreret med - 22. dec. ---------------*/

/*---- Dropdown knapen ----*/
.dropdownKnap-dag-afgang-22-udrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 6px;
			padding-left: 6px;
			border: none;
}

/*---- Gør dropdown muligt, og giver det en placering ----*/
.dropdownPostion-dag-afgang-22-udrejse {
	/* Gør selve dropdown dellen mulig*/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet*/
	position: absolute;
	top: 165px;
	left: 610px;
}

/*---- Dropdown indholdet (Hidden by Default) ----*/
.dropdownIndhold-dag-afgang-22-udrejse {
	display: none;
	background-color: white;
	min-width: 200px;
	max-height: 18px;
	z-index: 1;
}

/*---- Links i dropdownmenuen ----*/
.dropdownIndhold-dag-afgang-22-udrejse a {
	padding: 0px;
	display: block;
}

/*---- Hviser dropdownmenuen menu når man hover over den ----*/
.dropdownPostion-dag-afgang-22-udrejse:hover .dropdownIndhold-dag-afgang-22-udrejse {display: block;}  


/*------------Integreret med - Ankomsttid ---------------*/
/*---- Dropdown knapen ----*/
.dropdownKnap-dag-ankomst-udrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 10px;
			padding-left: 10px;
			border: none;
}

/*---- Gør dropdown muligt, og giver det en placering ----*/
.dropdownPostion-dag-ankomst-udrejse {
	/* Gør selve dropdown dellen mulig*/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet*/
	position: absolute;
	top: 165px;
	left: 1005px;
}

/*---- Dropdown indholdet (Hidden by Default) ----*/
.dropdownIndhold-dag-ankomst-udrejse {
	display: none;
	background-color: white;
	min-width: 200px;
	max-height: 18px;
	z-index: 1;
}

/*---- Links i dropdownmenuen ----*/
.dropdownIndhold-dag-ankomst-udrejse a {
	padding: 0px;
	display: block;
}

/*---- Hviser dropdownmenuen menu når man hover over den ----*/
.dropdownPostion-dag-ankomst-udrejse:hover .dropdownIndhold-dag-ankomst-udrejse {display: block;} 


/*------------Integreret med - Ankomsttid ---------------*/

/*---- Dropdown knapen ----*/
.dropdownKnap-dag-ankomst-22-udrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 6px;
			padding-left: 6px;
			border: none;
}

/*---- Gør dropdown muligt, og giver det en placering ----*/
.dropdownPostion-dag-ankomst-22-udrejse {
	/* Gør selve dropdown dellen mulig*/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet*/
	position: absolute;
	top: 165px;
	left: 1005px;
}

/*---- Dropdown indholdet (Hidden by Default) ----*/
.dropdownIndhold-dag-ankomst-22-udrejse {
	display: none;
	background-color: white;
	min-width: 200px;
	max-height: 18px;
	z-index: 1;
}

/*---- Links i dropdownmenuen ----*/
.dropdownIndhold-dag-ankomst-22-udrejse a {
	padding: 0px;
	display: block;
}

/*---- Hviser dropdownmenuen menu når man hover over den ----*/
.dropdownPostion-dag-ankomst-22-udrejse:hover .dropdownIndhold-dag-ankomst-22-udrejse {display: block;} 




/***************Hjemrejse*****************/

/**** Dropdown knapen ****/
.dropdownKnap-dag-afgang-hjemrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 10px;
			padding-left: 10px;
			border: none;
}

/**** Gør dropdown muligt, og giver det en placering ****/
.dropdownPostion-dag-afgang-hjemrejse {
	/**** Gør selve dropdown dellen mulig****/
  	position: relative;
	
	/**** Postionen af knapen og dermed indholdet****/
	position: absolute;
	top: 520px;
	left: 1005px;
}

/**** Dropdown indholdet (Hidden by Default) ****/
.dropdownIndhold-dag-afgang-hjemrejse {
	display: none;
	background-color: white;
	min-width: 200px;
	max-height: 18px;
	z-index: 1;
}

/**** Links i dropdownmenuen ****/
.dropdownIndhold-dag-afgang-hjemrejse a {
	padding: 0px;
	display: block;
}

/**** Hviser dropdownmenuen menu når man hover over den ****/
.dropdownPostion-dag-afgang-hjemrejse:hover .dropdownIndhold-dag-afgang-hjemrejse {display: block;} 


/****************------------Integreret med - Ankomsttid - Hjemrejse---------------****************/

/****---- Dropdown knapen ----****/
.dropdownKnap-dag-ankomst-hjemrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 10px;
			padding-left: 10px;
			border: none;
}

/****---- Gør dropdown muligt, og giver det en placering ----****/
.dropdownPostion-dag-ankomst-hjemrejse {
	/****---- Gør selve dropdown dellen mulig----****/
  	position: relative;
	
	/****---- Postionen af knapen og dermed indholdet----****/
	position: absolute;
	top: 520px;
	left: 610px;
}

/****---- Dropdown indholdet (Hidden by Default) ----****/
.dropdownIndhold-dag-ankomst-hjemrejse {
	display: none;
	background-color: white;
	min-width: 200px;
	max-height: 18px;
	z-index: 1;
}

/****---- Links i dropdownmenuen ----****/
.dropdownIndhold-dag-ankomst-hjemrejse a {
	padding: 0px;
	display: block;
}

/****---- Hviser dropdownmenuen menu når man hover over den ----****/
.dropdownPostion-dag-ankomst-hjemrejse:hover .dropdownIndhold-dag-ankomst-hjemrejse {display: block;} 


/****************------------Integreret med - ANkomsttid - 22. dec - Hjemrejse---------------****************/

/****---- Dropdown knapen ----****/
.dropdownKnap-dag-afgang-22-hjemrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 6px;
			padding-left: 6px;
			border: none;
}

/****---- Gør dropdown muligt, og giver det en placering ----****/
.dropdownPostion-dag-afgang-22-hjemrejse {
	/****---- Gør selve dropdown dellen mulig----****/
  	position: relative;
	
	/****---- Postionen af knapen og dermed indholdet----****/
	position: absolute;
	top: 520px;
	left: 1005px;
}

/****---- Dropdown indholdet (Hidden by Default) ----****/
.dropdownIndhold-dag-afgang-22-hjemrejse {
	display: none;
	background-color: white;
	min-width: 200px;
	max-height: 18px;
	z-index: 1;
}

/****---- Links i dropdownmenuen ----****/
.dropdownIndhold-dag-afgang-22-hjemrejse a {
	padding: 0px;
	display: block;
}

/****---- Hviser dropdownmenuen menu når man hover over den ----****/
.dropdownPostion-dag-afgang-22-hjemrejse:hover .dropdownIndhold-dag-afgang-22-hjemrejse {display: block;} 


/****************------------Integreret med - Ankomsttid - 22. dec. - Hjemrejse---------------****************/

/****---- Dropdown knapen ----****/
.dropdownKnap-dag-ankomst-22-hjemrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 6px;
			padding-left: 6px;
			border: none;
}

/****---- Gør dropdown muligt, og giver det en placering ----****/
.dropdownPostion-dag-ankomst-22-hjemrejse {
	/****---- Gør selve dropdown dellen mulig----****/
  	position: relative;
	
	/****---- Postionen af knapen og dermed indholdet----****/
	position: absolute;
	top: 520px;
	left: 610px;
}

/****---- Dropdown indholdet (Hidden by Default) ----****/
.dropdownIndhold-dag-ankomst-22-hjemrejse {
	display: none;
	background-color: white;
	min-width: 200px;
	max-height: 18px;
	z-index: 1;
}

/****---- Links i dropdownmenuen ----****/
.dropdownIndhold-dag-ankomst-22-hjemrejse a {
	padding: 0px;
	display: block;
}

/****---- Hviser dropdownmenuen menu når man hover over den ----****/
.dropdownPostion-dag-ankomst-22-hjemrejse:hover .dropdownIndhold-dag-ankomst-22-hjemrejse {display: block;} 

/* --------------------------------------------------------------------- Tid vælger - afgang  ----------------------------------------------------------*/

/* Dropdown knapen ----*/
.dropdownKnap-tid-afgang-udrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 18px;
			padding-left: 18px;
			border: none;
}

/* Gør dropdown muligt, og giver det en placering ----*/
.dropdownPostion-tid-afgang-udrejse {
	/* Gør selve dropdown dellen mulig*/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet----*/
	position: absolute;
	top: 165px;
	left: 711px;
}

/* Dropdown indholdet (Hidden by Default) ----*/
.dropdownIndhold-tid-afgang-udrejse {
	display: none;
	background-color: white;
	max-width: 100%;
	max-height: 200px;
	padding-left: 10px;
	padding-top: 1px;
	z-index: 1;
	overflow-y: scroll;
}


/* Links i dropdownmenuen ----*/
.dropdownIndhold-tid-afgang-udrejse a {
	color: black;
	text-decoration: none;
	font: normal normal normal 15px/20px Segoe UI;
	padding: 0px;
	display: block;
}

/* Hviser dropdownmenuen menu når man hover over den ----*/
.dropdownPostion-tid-afgang-udrejse:hover .dropdownIndhold-tid-afgang-udrejse {display: block;}       

/*------------integreret med---------------*/

/*---- Dropdown knapen ----*/
.dropdownKnap-tid-ankomst-udrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 18px;
			padding-left: 18px;
			border: none;
}

/*---- Gør dropdown muligt, og giver det en placering ----*/
.dropdownPostion-tid-ankomst-udrejse {
	/*---- Gør selve dropdown dellen mulig----*/
  	position: relative;
	
	/*---- Postionen af knapen og dermed indholdet----*/
	position: absolute;
	top: 165px;
	left: 1106px;
}

/*---- Dropdown indholdet (Hidden by Default) ----*/
.dropdownIndhold-tid-ankomst-udrejse {
	display: none;
	background-color: white;
	max-width: 100%;
	max-height: 200px;
	padding-left: 10px;
	padding-top: 1px;
	z-index: 1;
	overflow-y: scroll;
}


/*---- Links i dropdownmenuen ----*/
.dropdownIndhold-tid-ankomst-udrejse a {
	color: black;
	text-decoration: none;
	font: normal normal normal 15px/20px Segoe UI;
	padding: 0px;
	display: block;
}

/*---- Hviser dropdownmenuen menu når man hover over den ----*/
.dropdownPostion-tid-ankomst-udrejse:hover .dropdownIndhold-tid-ankomst-udrejse {display: block;}  



/***************Hjemrejse*****************/

/**** Dropdown knapen ****/
.dropdownKnap-tid-afgang-hjemrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 18px;
			padding-left: 18px;
			border: none;
}

/**** Gør dropdown muligt, og giver det en placering ****/
.dropdownPostion-tid-afgang-hjemrejse {
	/**** Gør selve dropdown dellen mulig****/
  	position: relative;
	
	/**** Postionen af knapen og dermed indholdet****/
	position: absolute;
	top: 520px;
	left: 1106px;
}

/**** Dropdown indholdet (Hidden by Default) ****/
.dropdownIndhold-tid-afgang-hjemrejse {
	display: none;
	background-color: white;
	max-width: 100%;
	max-height: 200px;
	padding-left: 10px;
	padding-top: 1px;
	z-index: 1;
	overflow-y: scroll;
}


/**** Links i dropdownmenuen ****/
.dropdownIndhold-tid-afgang-hjemrejse a {
	color: black;
	text-decoration: none;
	font: normal normal normal 15px/20px Segoe UI;
	padding: 0px;
	display: block;
}

/**** Hviser dropdownmenuen menu når man hover over den ****/
.dropdownPostion-tid-afgang-hjemrejse:hover .dropdownIndhold-tid-afgang-hjemrejse {display: block;} 


/****************------------Integreret med - Ankomsttid - Hjemrejse---------------****************/

/****---- Dropdown knapen ----****/
.dropdownKnap-tid-ankomst-hjemrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 18px;
			padding-left: 18px;
			border: none;
}

/****---- Gør dropdown muligt, og giver det en placering ----****/
.dropdownPostion-tid-ankomst-hjemrejse {
	/****---- Gør selve dropdown dellen mulig----****/
  	position: relative;
	
	/****---- Postionen af knapen og dermed indholdet----****/
	position: absolute;
	top: 520px;
	left: 711px;
}

/****---- Dropdown indholdet (Hidden by Default) ----****/
.dropdownIndhold-tid-ankomst-hjemrejse {
	display: none;
	background-color: white;
	max-width: 100%;
	max-height: 200px;
	padding-left: 10px;
	padding-top: 1px;
	z-index: 1;
	overflow-y: scroll;
}


/****---- Links i dropdownmenuen ----****/
.dropdownIndhold-tid-ankomst-hjemrejse a {
	color: black;
	text-decoration: none;
	font: normal normal normal 15px/20px Segoe UI;
	padding: 0px;
	display: block;
}

/****---- Hviser dropdownmenuen menu når man hover over den ----****/
.dropdownPostion-tid-ankomst-hjemrejse:hover .dropdownIndhold-tid-ankomst-hjemrejse {display: block;} 

