@charset "utf-8";
/* CSS Document */

/* --------------------------------------------------------------------- Mundbind ----------------------------------------------------------*/

/* Advarsel ikon */
.advarsel-udrejse{
	position: absolute;
	top: 715px;
	left: 580px;
}

/* Husk mundbind - tekst */
.advarsel-overskrift-udrejse{
	position: absolute;
	top: 700px;
	left: 630px;
}

/* Uddybne tekt til Husk mundbind */
.advarsel-tekst-udrejse{
	position: absolute;
	top: 720px;
	left: 630px;
}

/* --------------------------------------------------------------------- Infomastions boxe ----------------------------------------------------------*/

/* Boxen der indeholder tidligere og udvid */
.informastionsBox-tidligere-udrejse{
	position: absolute;
	top: 770px;
	left: 562px;
}

/* Boxen der er valgt af brugeren */
.informastionsBox-selected-udrejse{
	position: absolute;
	top: 795px;
	left: 550px;
}

/* 1. box der ikke er valgt af brugeren */
.informastionsBox-ikkeSelected1-udrejse{
	position: absolute;
	top: 915px;
	left: 550px;
}

/* 2. box der ikke er valgt af brugeren */
.informastionsBox-ikkeSelected2-udrejse{
	position: absolute;
	top: 1035px;
	left: 550px;
}

/* 3. box der ikke er valgt af brugeren */
.informastionsBox-ikkeSelected3-udrejse{
	position: absolute;
	top: 1155px;
	left: 550px;
}

/* Kortet der viser rejsen */
.kort-udrejse{
	position: absolute;
	top: 770px;
	left: 961px;
}

/* Boxen der indeholder senere */
.informastionsBox-senere-udrejse{
	position: absolute;
	top: 1275px;
	left: 562px;
}


/*------------Integreret med - Detalje box - Udrejse---------------*/

/*---- Kortet der viser rejsen ----*/
.kort-detalje-udrejse{
	position: absolute;
	top: 770px;
	left: 562px;
}

/*---- Boxen der er valgt af brugeren ----*/
.informastionsBox-selected-detalje-udrejse{
	position: absolute;
	top: 1155px;
	left: 550px;
}

/*--- Detalje Boxen der er valgt af brugeren ----*/
.informastionsBox-detaljer-detalje-udrejse{
	position: absolute;
	top: 1275px;
	left: 550px;
}

/*---- 1. box der ikke er valgt af brugeren ----*/
.informastionsBox-ikkeSelected1-detalje-udrejse{
	position: absolute;
	top: 1395px;
	left: 550px;
}

/*---- 2. box der ikke er valgt af brugeren ----*/
.informastionsBox-ikkeSelected2-detalje-udrejse{
	position: absolute;
	top: 1515px;
	left: 550px;
}

/*---- 3. box der ikke er valgt af brugeren ----*/
.informastionsBox-ikkeSelected3-detalje-udrejse{
	position: absolute;
	top: 1635px;
	left: 550px;
}

/*---- Boxen der indeholder senere ----*/
.informastionsBox-senere-detalje-udrejse{
	position: absolute;
	top: 1755px;
	left: 562px;
}


/*------------Integreret med - Pris og køb - Udrejse---------------*/


/*--- Pris og køb Boxen der er valgt af brugeren ----*/
.informastionsBox-pris-udrejse{
	position: absolute;
	top: 1395px;
	left: 550px;
}

/*---- 1. box der ikke er valgt af brugeren ----*/
.informastionsBox-ikkeSelected1-pris-udrejse{
	position: absolute;
	top: 1740px;
	left: 550px;
}

/*---- 2. box der ikke er valgt af brugeren ----*/
.informastionsBox-ikkeSelected2-pris-udrejse{
	position: absolute;
	top: 1860px;
	left: 550px;
}

/*---- 3. box der ikke er valgt af brugeren ----*/
.informastionsBox-ikkeSelected3-pris-udrejse{
	position: absolute;
	top: 1980px;
	left: 550px;
}

/*---- Boxen der indeholder senere ----*/
.informastionsBox-senere-pris-udrejse{
	position: absolute;
	top: 2100px;
	left: 562px;
}




/* --------------------------------------------------------------------- Infomastions boxe - Indhold - Tidligere, udvid og senere  ----------------------------------------------------------*/

/* Tidligere ikon */
.tidligere-udrejse{
	position: absolute;
	top: 775px;
	left: 581px;
}

/* Tidligere - tekst */
.tidligere-tekst-udrejse{
	position: absolute;
	top: 758px;
	left: 604px;
	color: black;
}

/* Udvid siden ikon */
.udvidSiden-udrejse{
	position: absolute;
	top: 773px;
	left: 910px;
}

/* Senere ikon */
.senere-udrejse{
	position: absolute;
	top: 1280px;
	left: 581px;
}

/* Senere tekst */
.senere-tekst-udrejse{
	position: absolute;
	top: 1263px;
	left: 604px;
	color: black;
}


/*------------Integreret med - Detalje box - Udrejse---------------*/

/* Senere ikon */
.senere-detalje-udrejse{
	position: absolute;
	top: 1760px;
	left: 581px;
}

/* Senere tekst */
.senere-tekst-detalje-udrejse{
	position: absolute;
	top: 1743px;
	left: 604px;
	color: black;
}


/*------------Integreret med - Pris og køb - Udrejse---------------*/

/* Senere ikon */
.senere-pris-udrejse{
	position: absolute;
	top: 2105px;
	left: 581px;
}

/* Senere tekst */
.senere-tekst-pris-udrejse{
	position: absolute;
	top: 2088px;
	left: 604px;
	color: black;
}


/* --------------------------------------------------------------------- Infomastions boxe - Indhold - Valgte box ----------------------------------------------------------*/

/* Rejsen ilustret på den valgte box */
.rejse-selected-udrejse{
	position: absolute;
	top: 806px;
	left: 626px;
}

/* Afgang og ankomst tid på den valgte box */
.tider-selected-udrejse{
	position: absolute;
	top: 800px;
	left: 574px;
	color: black;
}

/* Ekstra infomastioner på den valgte box */
.tekst-selected-udrejse{
	position: absolute;
	top: 844px;
	left: 628px;
	font: normal normal normal 13px/0px Segoe UI;
			color: rgb(164, 164, 164)	
}

/* Pris og køb knappen på den valgte box */
.pris-selected-udrejse{
	position: absolute;
	top: 870px;
	left: 626px;
}

/* Detalje kanpen på den valgte box */
.detaljer-selected-udrejse{
	position: absolute;
	top: 870px;
	left: 720px;
}


/*------------Integreret med - Detalje box - Selected box- Udrejse---------------*/

/*---- Rejsen ilustret på den valgte box ----*/
.rejse-selected-detalje-udrejse{
	position: absolute;
	top: 1166px;
	left: 626px;
}

/*---- Afgang og ankomst tid på den valgte box ----*/
.tider-selected-detalje-udrejse{
	position: absolute;
	top: 1160px;
	left: 574px;
	color: black;
}

/*---- Ekstra infomastioner på den valgte box ----*/
.tekst-selected-detalje-udrejse{
	position: absolute;
	top: 1204px;
	left: 628px;
	font: normal normal normal 13px/0px Segoe UI;
			color: rgb(164, 164, 164)	
}

/*---- Pris og køb knappen på den valgte box ----*/
.pris-selected-detalje-udrejse{
	position: absolute;
	top: 1230px;
	left: 626px;
}

/*---- Detalje kanpen på den valgte box ----*/
.detaljer-selected-detalje-udrejse{
	position: absolute;
	top: 1230px;
	left: 720px; 							
} 


/* --------------------------------------------------------------------- Infomastions boxe - Indhold - Detaljeboxen ----------------------------------------------------------*/


.detaljebox-udrejse{
	position: absolute;
	top: 1304px;
	left: 703px; 	
}

.detaljebox-tekst-udrejse{
	position: absolute;
	top: 1285px;
	left: 743px; 
	font: normal normal normal 11px/15px Segoe UI;
}


/* --------------------------------------------------------------------- Infomastions boxe - Indhold - Pris og køb ----------------------------------------------------------*/

.enkelteBilletter-udrejse{
	position: absolute;
	top: 1410px;
	left: 1129px;
	font: normal normal normal 11px/15px Segoe UI;
}

.koebsMuligheder-udrejse{
	position: absolute;
	top: 1424px;
	left: 583px; 	
}

.indkoebskvurv-udrejse{
	position: absolute;
	top: 1665px;
	left: 1170px; 
	font: normal normal normal 11px/15px Segoe UI;
}

.inkoebskvurv-tekst-udrejse{
	position: absolute;
	top: 1635px;
	left: 1182px; 
	font: normal normal normal 11px/15px Segoe UI;
}

.koeb-udrejse{
	position: absolute;
	top: 1660px;
	left: 1270px; 
	font: normal normal normal 11px/15px Segoe UI;
}

/* --------------------------------------------------------------------- Infomastions boxe - Indhold - Ikke valgte box 1 ----------------------------------------------------------*/

/* Rejsen ilustret på den 1. ikke valgte box */
.rejse-ikkeSelected1-udrejse{
	position: absolute;
	top: 926px;
	left: 626px;
}

/* Afgang og ankomst tid på den 1. ikke valgte box */
.tider-ikkeSelected1-udrejse{
	position: absolute;
	top: 920px;
	left: 574px;
	color: black;
}

/* Ekstra infomastioner på den 1. ikke valgte box */
.tekst-ikkeSelected1-udrejse{
	position: absolute;
	top: 964px;
	left: 628px;
	font: normal normal normal 13px/0px Segoe UI;
			color: rgb(164, 164, 164)	
}

/* Pris og køb knappen på den 1. ikke valgte box */
.pris-ikkeSelected1-udrejse{
	position: absolute;
	top: 990px;
	left: 626px;
}

/* Detalje kanpen på den 1. ikke valgte box */
.detaljer-ikkeSelected1-udrejse{
	position: absolute;
	top: 990px;
	left: 720px;
}


/*------------Integreret med - Detalje box - Udrejse---------------*/

/*---- Rejsen ilustret på den 1. ikke valgte box ----*/
.rejse-ikkeSelected1-detalje-udrejse{
	position: absolute;
	top: 1406px;
	left: 626px;
}

/*---- Afgang og ankomst tid på den 1. ikke valgte box ----*/
.tider-ikkeSelected1-detalje-udrejse{
	position: absolute;
	top: 1400px;
	left: 574px;
	color: black;
}

/*---- Ekstra infomastioner på den 1. ikke valgte box ----*/
.tekst-ikkeSelected1-detalje-udrejse{
	position: absolute;
	top: 1444px;
	left: 628px;
	font: normal normal normal 13px/0px Segoe UI;
			color: rgb(164, 164, 164)	
}

/*---- Pris og køb knappen på den 1. ikke valgte box ----*/
.pris-ikkeSelected1-detalje-udrejse{
	position: absolute;
	top: 1470px;
	left: 626px;
}

/*---- Detalje kanpen på den 1. ikke valgte box ----*/
.detaljer-ikkeSelected1-detalje-udrejse{
	position: absolute;
	top: 1470px;
	left: 720px;
}


/*------------Integreret med - Pris og køb - Udrejse---------------*/

/*---- Rejsen ilustret på den 1. ikke valgte box ----*/
.rejse-ikkeSelected1-pris-udrejse{
	position: absolute;
	top: 1751px;
	left: 626px;
}

/*---- Afgang og ankomst tid på den 1. ikke valgte box ----*/
.tider-ikkeSelected1-pris-udrejse{
	position: absolute;
	top: 1745px;
	left: 574px;
	color: black;
}

/*---- Ekstra infomastioner på den 1. ikke valgte box ----*/
.tekst-ikkeSelected1-pris-udrejse{
	position: absolute;
	top: 1789px;
	left: 628px;
	font: normal normal normal 13px/0px Segoe UI;
			color: rgb(164, 164, 164)	
}

/*---- Pris og køb knappen på den 1. ikke valgte box ----*/
.pris-ikkeSelected1-pris-udrejse{
	position: absolute;
	top: 1815px;
	left: 626px;
}

/*---- Detalje kanpen på den 1. ikke valgte box ----*/
.detaljer-ikkeSelected1-pris-udrejse{
	position: absolute;
	top: 1815px;
	left: 720px;
}


/* --------------------------------------------------------------------- Infomastions boxe - Indhold - Ikke valgte box 2 ----------------------------------------------------------*/

/* Rejsen ilustret på den 2. ikke valgte box */
.rejse-ikkeSelected2-udrejse{
	position: absolute;
	top: 1046px;
	left: 626px;
}

/* Afgang og ankomst tid på den 2. ikke valgte box */
.tider-ikkeSelected2-udrejse{
	position: absolute;
	top: 1040px;
	left: 574px;
	color: black;
}

/* Ekstra infomastioner på den 2. ikke valgte box */
.tekst-ikkeSelected2-udrejse{
	position: absolute;
	top: 1084px;
	left: 628px;
	font: normal normal normal 13px/0px Segoe UI;
			color: rgb(164, 164, 164)	
}

/* Pris og køb knappen på den 2. ikke valgte box */
.pris-ikkeSelected2-udrejse{
	position: absolute;
	top: 1110px;
	left: 626px;
}

/* Detalje kanpen på den 2. ikke valgte box */
.detaljer-ikkeSelected2-udrejse{
	position: absolute;
	top: 1110px;
	left: 720px;
}


/*------------Integreret med - Detalje box - Udrejse---------------*/

/*---- Rejsen ilustret på den 2. ikke valgte box ----*/
.rejse-ikkeSelected2-detalje-udrejse{
	position: absolute;
	top: 1526px;
	left: 626px;
}

/*---- Afgang og ankomst tid på den 2. ikke valgte box ----*/
.tider-ikkeSelected2-detalje-udrejse{
	position: absolute;
	top: 1520px;
	left: 574px;
	color: black;
}

/*---- Ekstra infomastioner på den 2. ikke valgte box ----*/
.tekst-ikkeSelected2-detalje-udrejse{
	position: absolute;
	top: 1564px;
	left: 628px;
	font: normal normal normal 13px/0px Segoe UI;
			color: rgb(164, 164, 164)	
}

/*---- Pris og køb knappen på den 2. ikke valgte box ----*/
.pris-ikkeSelected2-detalje-udrejse{
	position: absolute;
	top: 1590px;
	left: 626px;
}

/*---- Detalje kanpen på den 2. ikke valgte box ----*/
.detaljer-ikkeSelected2-detalje-udrejse{
	position: absolute;
	top: 1590px;
	left: 720px;
}


/*------------Integreret med - Pris og køb - Udrejse---------------*/

/*---- Rejsen ilustret på den 2. ikke valgte box ----*/
.rejse-ikkeSelected2-pris-udrejse{
	position: absolute;
	top: 1871px;
	left: 626px;
}

/*---- Afgang og ankomst tid på den 2. ikke valgte box ----*/
.tider-ikkeSelected2-pris-udrejse{
	position: absolute;
	top: 1865px;
	left: 574px;
	color: black;
}

/*---- Ekstra infomastioner på den 2. ikke valgte box ----*/
.tekst-ikkeSelected2-pris-udrejse{
	position: absolute;
	top: 1909px;
	left: 628px;
	font: normal normal normal 13px/0px Segoe UI;
			color: rgb(164, 164, 164)	
}

/*---- Pris og køb knappen på den 2. ikke valgte box ----*/
.pris-ikkeSelected2-pris-udrejse{
	position: absolute;
	top: 1935px;
	left: 626px;
}

/*---- Detalje kanpen på den 2. ikke valgte box ----*/
.detaljer-ikkeSelected2-pris-udrejse{
	position: absolute;
	top: 1935px;
	left: 720px;
}




/* --------------------------------------------------------------------- Infomastions boxe - Indhold - Ikke valgte box 3 ----------------------------------------------------------*/

/* Rejsen ilustret på den 3. ikke valgte box */
.rejse-ikkeSelected3-udrejse{
	position: absolute;
	top: 1166px;
	left: 626px;
}

/* Afgang og ankomst tid på den 3. ikke valgte box */
.tider-ikkeSelected3-udrejse{
	position: absolute;
	top: 1160px;
	left: 574px;
	color: black;
}

/* Ekstra infomastioner på den 3. ikke valgte box */
.tekst-ikkeSelected3-udrejse{
	position: absolute;
	top: 1204px;
	left: 628px;
	font: normal normal normal 13px/0px Segoe UI;
			color: rgb(164, 164, 164)	
}

/* Pris og køb knappen på den 3. ikke valgte box */
.pris-ikkeSelected3-udrejse{
	position: absolute;
	top: 1230px;
	left: 626px;
}

/* Detalje kanpen på den 3. ikke valgte box */
.detaljer-ikkeSelected3-udrejse{
	position: absolute;
	top: 1230px;
	left: 720px;
}


/*------------Integreret med - Detalje box - Udrejse---------------*/

/*---- Rejsen ilustret på den 3. ikke valgte box ----*/
.rejse-ikkeSelected3-detalje-udrejse{
	position: absolute;
	top: 1646px;
	left: 626px;
}

/*---- Afgang og ankomst tid på den 3. ikke valgte box ----*/
.tider-ikkeSelected3-detalje-udrejse{
	position: absolute;
	top: 1640px;
	left: 574px;
	color: black;
}

/*---- Ekstra infomastioner på den 3. ikke valgte box ----*/
.tekst-ikkeSelected3-detalje-udrejse{
	position: absolute;
	top: 1684px;
	left: 628px;
	font: normal normal normal 13px/0px Segoe UI;
			color: rgb(164, 164, 164)	
}

/*---- Pris og køb knappen på den 3. ikke valgte box ----*/
.pris-ikkeSelected3-detalje-udrejse{
	position: absolute;
	top: 1710px;
	left: 626px;
}

/*---- Detalje kanpen på den 3. ikke valgte box ----*/
.detaljer-ikkeSelected3-detalje-udrejse{
	position: absolute;
	top: 1710px;
	left: 720px;
}



/*------------Integreret med - Pris og køb - Udrejse---------------*/


/*---- Rejsen ilustret på den 3. ikke valgte box ----*/
.rejse-ikkeSelected3-pris-udrejse{
	position: absolute;
	top: 1991px;
	left: 626px;
}

/*---- Afgang og ankomst tid på den 3. ikke valgte box ----*/
.tider-ikkeSelected3-pris-udrejse{
	position: absolute;
	top: 1985px;
	left: 574px;
	color: black;
}

/*---- Ekstra infomastioner på den 3. ikke valgte box ----*/
.tekst-ikkeSelected3-pris-udrejse{
	position: absolute;
	top: 2029px;
	left: 628px;
	font: normal normal normal 13px/0px Segoe UI;
			color: rgb(164, 164, 164)	
}

/*---- Pris og køb knappen på den 3. ikke valgte box ----*/
.pris-ikkeSelected3-pris-udrejse{
	position: absolute;
	top: 2055px;
	left: 626px;
}

/*---- Detalje kanpen på den 3. ikke valgte box ----*/
.detaljer-ikkeSelected3-pris-udrejse{
	position: absolute;
	top: 2055px;
	left: 720px;
}




/* --------------------------------------------------------------------- Fodnote ----------------------------------------------------------*/

/* Fodnote på siden */
.fodnote-udrejse{
	position: absolute;
	top: 1320px;
	left: 0px;
}

/* Udrejse ikon */
.udrejse-ikon-udrejse{
	position: absolute;
	top: 1325px;
	left: 160px;
}

/* Tom indkøbskvurv */
.Inkoebskvurv-tom-udrejse{
	position: absolute;
	top: 1325px;
	left: 919px;
}

/* Hjemrejse ikon */
.hjemrejse-ikon-udrejse{
	position: absolute;
	top: 1325px;
	left: 1660px;
}


/*------------Integreret med - Detalje box - Udrejse---------------*/

/*---- Fodnote på siden ----*/
.fodnote-detalje-udrejse{
	position: absolute;
	top: 1800px;
	left: 0px;
}

/*---- Udrejse ikon ----*/
.udrejse-ikon-detalje-udrejse{
	position: absolute;
	top: 1805px;
	left: 160px;
}

/*---- Tom indkøbskvurv ----*/
.Inkoebskvurv-tom-detalje-udrejse{
	position: absolute;
	top: 1805px;
	left: 919px;
}

/*---- Hjemrejse ikon ----*/
.hjemrejse-ikon-detalje-udrejse{
	position: absolute;
	top: 1805px;
	left: 1660px;
}



/*------------Integreret med - Pris og køb - Udrejse---------------*/

/*---- Fodnote på siden ----*/
.fodnote-pris-udrejse{
	position: absolute;
	top: 2145px;
	left: 0px;
}

/*---- Udrejse ikon ----*/
.udrejse-ikon-pris-udrejse{
	position: absolute;
	top: 2150px;
	left: 160px;
}

/*---- Tom indkøbskvurv ----*/
.Inkoebskvurv-tom-pris-udrejse{
	position: absolute;
	top: 2150px;
	left: 919px;
}

/*---- Hjemrejse ikon ----*/
.hjemrejse-ikon-pris-udrejse{
	position: absolute;
	top: 2150px;
	left: 1660px;
}




/* --------------------------------------------------------------------- Detalje - hjemrejse ----------------------------------------------------------*/

.detalje-hjemrejse{
	position: absolute;
	top: 706px;
	left: 550px;
}
