@charset "utf-8";
/* CSS Document */
/* --------------------------------------------------------------------- Bagrunden - bilet ----------------------------------------------------------*/
/* Hjemrejse bagrunds bilet */
.Soegebar-hjemrejse{
	position: absolute;
	top: 80px;
	left: 580px;
}

/* Udrejse bagrunds bilet */
.Soegebar-udrejse{
	position: absolute;
	top: 20px;
	left: 580px;
}

/* Udrejse - tekst */
.udrejse-tekst{
	position: absolute;
	top: -39px;
	left: 590px;
	
	font: normal normal normal 20px/106px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}


/* --------------------------------------------------------------------- Rejse fra og til  ----------------------------------------------------------*/

/* Udrejse punkt - Link til at udvide siden, ved at skifte side */
.udvidMuligheder-venstre{
	position: absolute;
	top: 70px;
	left: 600px;			
			padding-top: 0px;
			padding-bottom: 0px;
			padding-right: 26px;
			padding-left: 10px;
}

/* Ankomst punkt - Link til at udvide siden, ved at skifte side */
.udvidMuligheder-hoejre{
	position: absolute;
	top: 70px;
	left: 995px;
			padding-top: 0px;
			padding-bottom: 0px;
			padding-right: 32px;
			padding-left: 10px;
}

/* Hjælpetekst til at forkalre fra og til i søgebaren */
.hjaelpeTekst{
	color: rgb(164, 164, 164); 
}



/* Udrejse punk */
.udrejsePunkt-udrejse{
	position: absolute;
	top: 70px;
	left: 600px;			
			padding-top: 13px;
			padding-bottom: 13px;
			padding-right: 10px;
			padding-left: 10px;
}

/*  Fra - tekst  */
.udrejsePunkt-udrejse-tekst{
	position: absolute;
	top: -10px;
	left: 600px;
	
	font: normal normal normal 15px/106px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}


/*  Rejse ikon  */
.rejseIkon-udrejse {
	position: absolute;
	top: 75px;
	left: 803px;
}


/* Ankomst punkt */
.ankomstPunkt-udrejse{
	position: absolute;
	top: 70px;
	left: 995px;
			padding-top: 13px;
			padding-bottom: 13px;
			padding-right: 10px;
			padding-left: 10px;
}

/* Til - tekst  */
.ankomstPunkt-udrejse-tekst{
	position: absolute;
	top: -10px;
	left: 995px;
	
	font: normal normal normal 15px/106px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}

/* --------------------------------------------------------------------- Rejse fra og til  ----------------------------------------------------------*/

/* Blå/markeret tjekcirkel */
.blaaTjekcirkel{
	position: absolute;
	top: 130px;
	left: 585px;
}

/* Afgangstid - tekst */
.afgangstid-tekst{
	position: absolute;
	top: 77px;
	left: 618px;
	font: normal normal normal 15px/106px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}


/* Hvid/umarkeret tjekcirkel */
.hvidTjekcirkel-udrejse{
	position: absolute;
	top: 130px;
	left: 695px;
}

/* Ankomsttid - tekst */
.ankomsttid-tekst{
	position: absolute;
	top: 77px;
	left: 729px;
	font: normal normal normal 15px/106px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}


/* Ankomsttid - Søgebar */
.afgangstid{
position: absolute;
	top: 165px;
	left: 610px;			
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 0px;
			padding-left: 0px;
}

