@charset "utf-8";
/* CSS Document */
/* --------------------------------------------------------------------- Bagrunden - bilet ----------------------------------------------------------*/

/* Hjemrejse bagrunds bilet */
.Soegebar-hjemrejse{
	position: absolute;
	top: 346px;
	left: 580px;
}

/* Udrejse bagrunds bilet */
.Soegebar-udrejse{
	position: absolute;
	top: 20px;
	left: 580px;
}

/* Udrejse - tekst */
.udrejse-tekst{
	position: absolute;
	top: 18px;
	left: 590px;
	
	font: normal normal normal 20px/0px Segoe UI;
			color: #f0b518;	
}

/* Udrejse - tekst */
.hjemrejse-tekst{
	position: absolute;
	top: 370px;
	left: 590px;
	
	font: normal normal normal 20px/0px Segoe UI;
			color: #f0b518;		
}

/* --------------------------------------------------------------------- Rejse fra og til  ----------------------------------------------------------*/

/* Udrejse punkt - Link til at udvide siden, ved at skifte side */
.udvidMuligheder-venstre{
	position: absolute;
	top: 70px;
	left: 600px;			
			padding-top: 0px;
			padding-bottom: 0px;
			padding-right: 26px;
			padding-left: 10px;
}

/* Ankomst punkt - Link til at udvide siden, ved at skifte side */
.udvidMuligheder-hoejre{
	position: absolute;
	top: 70px;
	left: 995px;
			padding-top: 0px;
			padding-bottom: 0px;
			padding-right: 32px;
			padding-left: 10px;
}

/* Hjælpetekst til at forkalre fra og til i søgebaren */
.hjaelpeTekst{
	color: rgb(164, 164, 164); 
}



/* Udrejse punk */
.udrejsePunkt-udrejse{
	position: absolute;
	top: 70px;
	left: 600px;			
			padding-top: 13px;
			padding-bottom: 13px;
			padding-right: 10px;
			padding-left: 10px;
}

/*  Fra - tekst  */
.udrejsePunkt-tekst-udrejse{
	position: absolute;
	top: 44px;
	left: 600px;
	
	font: normal normal normal 15px/0px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}


/*  Rejse ikon  */
.rejseIkon-udrejse {
	position: absolute;
	top: 75px;
	left: 803px;
}


/* Ankomst punkt */
.ankomstPunkt-udrejse{
	position: absolute;
	top: 70px;
	left: 995px;
			padding-top: 13px;
			padding-bottom: 13px;
			padding-right: 10px;
			padding-left: 10px;
}

/* Til - tekst  */
.ankomstPunkt-tekst-udrejse{
	position: absolute;
	top: 44px;
	left: 995px;
	
	font: normal normal normal 15px/0px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}




/* --------------------------------------------------------------------- Tid vælger - afgang  ----------------------------------------------------------*/

/* Dropdown knapen */
.dropdownKnap-tid-afgang-udrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 18px;
			padding-left: 18px;
			border: none;
}

/* Gør dropdown muligt, og giver det en placering */
.dropdownPostion-tid-afgang-udrejse {
	/* Gør selve dropdown dellen mulig*/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet*/
	position: absolute;
	top: 165px;
	left: 711px;
}

/* Dropdown indholdet (Hidden by Default) */
.dropdownIndhold-tid-afgang-udrejse {
	display: none;
	background-color: white;
	max-width: 100%;
	max-height: 200px;
	padding-left: 10px;
	padding-top: 1px;
	z-index: 1;
	overflow-y: scroll;
}


/* Links i dropdownmenuen */
.dropdownIndhold-tid-afgang-udrejse a {
	color: black;
	text-decoration: none;
	font: normal normal normal 15px/20px Segoe UI;
	padding: 0px;
	display: block;
}

/* Hviser dropdownmenuen menu når man hover over den */
.dropdownPostion-tid-afgang-udrejse:hover .dropdownIndhold-tid-afgang-udrejse {display: block;}       



/* --------------------------------------------------------------------- Pladsbilet vælger  ----------------------------------------------------------*/

/* Dropdown knapen */
.dropdownKnap-pladser-udrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 7px;
			padding-left: 7px;
			border: none;
}

/* Gør dropdown muligt, og giver det en placering */
.dropdownPostion-pladser-udrejse {
	/* Gør selve dropdown dellen mulig*/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet*/
	position: absolute;
	top: 310px;
	left: 805px;
}

/* Dropdown indholdet (Hidden by Default) */
.dropdownIndhold-pladser-udrejse {
	display: none;
	background-color: white;
	max-width: 100%;
	min-height: 208px;
	padding-left: 5px;
	padding-top: 1px;
	z-index: 1;
}


/* Links i dropdownmenuen */
.dropdownIndhold-pladser-udrejse a {
	color: black;
	text-decoration: none;
	font: normal normal normal 15px/10px Segoe UI;
	padding: 0px;
	display: block;
}

/* Hviser dropdownmenuen menu når man hover over den */
.dropdownPostion-pladser-udrejse:hover .dropdownIndhold-pladser-udrejse {display: block;}




/* Pladsbilet - tekst */
.pladsbillet-tekst--udrejse{
	position: absolute;
	top: 282px;
	left: 805px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;
}




/* Tjek box til Barnevognspladsbillet */
.utjekketBox{
	position: absolute;
	top: 317px;
	left: 935px;
}

/* Barnevognspladsbillet - tekst */
.barnevognspladsbillet-tekst--udrejse{
	position: absolute;
	top: 282px;
	left: 885px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;	
}
/* --------------------------------------------------------------------- Antal rejsene vælger  ----------------------------------------------------------*/

/* Dropdown knapen */
.dropdownKnap-rejsene-udrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 60px;
			padding-left: 60px;
			border: none;
}

/* Gør dropdown muligt, og giver det en placering */
.dropdownPostion-rejsene-udrejse {
	/* Gør selve dropdown dellen mulig*/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet*/
	position: absolute;
	top: 240px;
	left: 805px;
}

/* Dropdown indholdet (Hidden by Default) */
.dropdownIndhold-rejsene-udrejse {
	display: none;
	background-color: white;
	max-width: 100%;
	min-height: 140px;
	padding-left: 7px;
	padding-top: 1px;
	z-index: 1;
	
}

/* Links i dropdownmenuen */
.dropdownIndhold-rejsene-udrejse a {
	color: black;
	text-decoration: none;
	font: normal normal normal 15px/10px Segoe UI;
	padding: 0px;
	display: block;
}

/* Hviser dropdownmenuen menu når man hover over den */
.dropdownPostion-rejsene-udrejse:hover .dropdownIndhold-rejsene-udrejse {display: block;}




/* Manuel radigereing for børn 12-15 år's minus ikon */
.boernebilet{
	position: absolute;
	margin-top: 0px;
	top: 120px;
	left: 106px;
}




/* Antal rejsene - tekst */
.antalRejsene-tekst--udrejse{
	position: absolute;
	top: 210px;
	left: 805px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;
}

/* --------------------------------------------------------------------- Instilinger   ----------------------------------------------------------*/

/* Standardindstillinger  - ikon */
.standard{
	position: absolute;
	top: 130px;
	left: 1250px;
}


/* Sort/markeret tjekcirkel for standardindstilinger */
.sortTjekcirkel-standard-udrejse{
	position: absolute;
	top: 145px;
	left: 1210px;
}

/* Sort/markeret tjekcirkel for justeret indstilinger */
.sortTjekcirkel-justeret-udrejse{

}

/* Standard indstilinger - tekst */
.Standard-tekst-udrejse{
	position: absolute;
	top: 109px;
	left: 1214px;
	font: normal normal normal 11px/0px Segoe UI;
			color: white;
}

/* Justeret indstillinger  - ikon */
.justeret{
	position: absolute;
	top: 220px;
	left: 1250px;
}

/* Hvid/umarkeret tjekcirkel for standardindstilinger */
.hvidTjekcirkel-standard-udrejse{
	
}

/* Hvid/umarkeret tjekcirkel for justeret indstilinger */
.hvidTjekcirkel-justeret-udrejse{
	position: absolute;
	top: 235px;
	left: 1210px;
}

/* Justeret indstilinger - tekst */
.justeret-tekst-udrejse{
	position: absolute;
	top: 200px;
	left: 1220px;
	font: normal normal normal 11px/0px Segoe UI;
			color: white;	
}

/* --------------------------------------------------------------------- Søg knap   ----------------------------------------------------------*/


.soeg-udrejse{
	position: absolute;
	top: 320px;
	left: 1055px;
}

/* --------------------------------------------------------------------- Tjek cirkler til Afgagstid og ankomsttid  ----------------------------------------------------------*/

/* Blå/markeret tjekcirkel */
.blaaTjekcirkel-udrejse{
	position: absolute;
	top: 130px;
	left: 585px;
}

/* Afgangstid - tekst */
.afgangstid-tekst-udrejse{
	position: absolute;
	top: 130px;
	left: 618px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}


/* Hvid/umarkeret tjekcirkel */
.hvidTjekcirkel-udrejse{
	position: absolute;
	top: 130px;
	left: 695px;
}

/* Ankomsttid - tekst */
.ankomsttid-tekst-udrejse{
	position: absolute;
	top: 130px;
	left: 729px;
	font: normal normal normal 15px/0px Segoe UI;
			color: white;	
}



/* --------------------------------------------------------------------- Dag vælger - afgang  ----------------------------------------------------------*/

/* Dropdown knapen */
.dropdownKnap-dag-afgang-udrejse {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 10px;
			padding-left: 10px;
			border: none;
}

/* Gør dropdown muligt, og giver det en placering */
.dropdownPostion-dag-afgang-udrejse {
	/* Gør selve dropdown dellen mulig*/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet*/
	position: absolute;
	top: 165px;
	left: 610px;
}

/* Dropdown indholdet (Hidden by Default) */
.dropdownIndhold-dag-afgang-udrejse {
	display: none;
	background-color: white;
	min-width: 200px;
	min-height: 200px;
	z-index: 1;
}

/* Links i dropdownmenuen */
.dropdownIndhold-dag-afgang-udrejse a {
	padding: 0px;
	display: block;
}

/* Hviser dropdownmenuen menu når man hover over den */
.dropdownPostion-dag-afgang-udrejse:hover .dropdownIndhold-dag-afgang-udrejse {display: block;}   

