@charset "utf-8";
/* CSS Document */
/* --------------------------------------------------------------------- Bagrunden - bilet ----------------------------------------------------------*/
/* Hjemrejse bagrunds bilet */
.Soegebar-hjemrejse{
	position: absolute;
	top: 80px;
	left: 580px;
}

/* Udrejse bagrunds bilet */
.Soegebar-udrejse{
	position: absolute;
	top: 20px;
	left: 580px;
}

/* Udrejse - tekst */
.udrejse-tekst{
	position: absolute;
	top: -39px;
	left: 590px;
	
	font: normal normal normal 20px/106px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}


/* --------------------------------------------------------------------- Rejse fra og til  ----------------------------------------------------------*/

/* Udrejse punkt - Link til at udvide siden, ved at skifte side */
.udvidMuligheder-venstre{
	position: absolute;
	top: 70px;
	left: 600px;			
			padding-top: 0px;
			padding-bottom: 0px;
			padding-right: 26px;
			padding-left: 10px;
}

/* Ankomst punkt - Link til at udvide siden, ved at skifte side */
.udvidMuligheder-hoejre{
	position: absolute;
	top: 70px;
	left: 995px;
			padding-top: 0px;
			padding-bottom: 0px;
			padding-right: 32px;
			padding-left: 10px;
}

/* Hjælpetekst til at forkalre fra og til i søgebaren */
.hjaelpeTekst{
	color: rgb(164, 164, 164); 
}



/* Udrejse punk */
.udrejsePunkt-udrejse{
	position: absolute;
	top: 70px;
	left: 600px;			
			padding-top: 13px;
			padding-bottom: 13px;
			padding-right: 10px;
			padding-left: 10px;
}

/*  Fra - tekst  */
.udrejsePunkt-udrejse-tekst{
	position: absolute;
	top: -10px;
	left: 600px;
	
	font: normal normal normal 15px/106px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}


/*  Rejse ikon  */
.rejseIkon-udrejse {
	position: absolute;
	top: 75px;
	left: 803px;
}


/* Ankomst punkt */
.ankomstPunkt-udrejse{
	position: absolute;
	top: 70px;
	left: 995px;
			padding-top: 13px;
			padding-bottom: 13px;
			padding-right: 10px;
			padding-left: 10px;
}

/* Til - tekst  */
.ankomstPunkt-udrejse-tekst{
	position: absolute;
	top: -10px;
	left: 995px;
	
	font: normal normal normal 15px/106px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}


/* --------------------------------------------------------------------- Tjek cirkler  ----------------------------------------------------------*/

/* Blå/markeret tjekcirkel */
.blaaTjekcirkel{
	position: absolute;
	top: 130px;
	left: 585px;
}

/* Afgangstid - tekst */
.afgangstid-tekst{
	position: absolute;
	top: 77px;
	left: 618px;
	font: normal normal normal 15px/106px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}


/* Hvid/umarkeret tjekcirkel */
.hvidTjekcirkel-udrejse{
	position: absolute;
	top: 130px;
	left: 695px;
}

/* Ankomsttid - tekst */
.ankomsttid-tekst{
	position: absolute;
	top: 77px;
	left: 729px;
	font: normal normal normal 15px/106px Segoe UI;
			color: white;
			letter-spacing: 0px;
			opacity: 1;	
}



/* --------------------------------------------------------------------- Dag vælger - afgang  ----------------------------------------------------------*/

/* Dropdown knapen */
.dropdownKnap-dag-afgang {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 10px;
			padding-left: 10px;
			border: none;
}

/* Gør dropdown muligt, og giver det en placering */
.dropdownPostion-dag-afgang {
	/* Gør selve dropdown dellen mulig*/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet*/
	position: absolute;
	top: 165px;
	left: 610px;
}

/* Dropdown indholdet (Hidden by Default) */
.dropdownIndhold-dag-afgang {
	display: none;
	background-color: white;
	min-width: 200px;
	min-height: 200px;
	z-index: 1;
}

/* Links i dropdownmenuen */
.dropdownIndhold-dag-afgang a {
	padding: 0px;
	display: block;
}

/* Hviser dropdownmenuen menu når man hover over den */
.dropdownPostion-dag-afgang:hover .dropdownIndhold-dag-afgang {display: block;}   

/* --------------------------------------------------------------------- Tid vælger - afgang  ----------------------------------------------------------*/

/* Dropdown knapen */
.dropdownKnap-tid-afgang {
	background-color: white;
	color: black;
	font: normal normal normal 15px/38px Segoe UI;
			padding-right: 18px;
			padding-left: 18px;
			border: none;
}

/* Gør dropdown muligt, og giver det en placering */
.dropdownPostion-tid-afgang {
	/* Gør selve dropdown dellen mulig*/
  	position: relative;
	
	/* Postionen af knapen og dermed indholdet*/
	position: absolute;
	top: 165px;
	left: 711px;
}

/* Dropdown indholdet (Hidden by Default) */
.dropdownIndhold-tid-afgang {
	display: none;
	background-color: white;
	max-width: 70px;
	max-height: 200px;
	padding-left: 10px;
	padding-top: 1px;
	z-index: 1;
	overflow-y: scroll;
	
}


/* Links i dropdownmenuen */
.dropdownIndhold-tid-afgang a {
	color: black;
	text-decoration: none;
	font: normal normal normal 15px/20px Segoe UI;
	padding: 0px;
	display: block;
}

/* Hviser dropdownmenuen menu når man hover over den */
.dropdownPostion-tid-afgang:hover .dropdownIndhold-tid-afgang {display: block;}       


/* --------------------------------------------------------------------- BilettypeBilettype  ----------------------------------------------------------*/
